altgraph==0.17.4
blinker==1.9.0
click==8.1.8
colorama==0.4.6
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
pefile==2023.2.7
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
setuptools==80.0.0
six==1.17.0
Werkzeug==3.1.3
